div{
height:500px;
width:100%;
background-color:lightskyblue;
padding:0px;
}
#a1{
 background-color:cadetblue;  
 width:100%;
 height: 500px;
 margin-left: 40px;
 margin-right: 60px;
 height:400px;
}
.a2{
}
