.parent{
    border:black solid 2px;
    width: 500px;
    height: 200px;
    background-color: brown;
    position:relative;
}
.child{
    position:absolute;  
    margin-top:0px;
    width:300px;
    height:200px;
    background-color: burlywood;
    margin-left: 100%;
}
body{
    background-color: black;

}