#a1{
    background-color: violet;
    height: 100px;
    width:80px;
    margin-top: 50px;
    margin-left:250px;
}
#a2{
    background-color:blue;
    height: 100px;
    width:80px;
    margin-top: -100px;
    margin-left:346px;
}
#a3{
    background-color:black;
    height: 100px;
    width:80px;
    margin-top: -99px;
    margin-left:444px;
}
#a4{
    background-color: brown;
    height: 100px;
    width:80px;
    margin-top: -99px;
    margin-left: 542px;
}
#a5{
    background-color:darkgoldenrod;
    height: 100px;
    width:80px;
    margin-top: -98px;
    margin-left: 641px;
}
#b1{
    background-color: darksalmon;
    height: 100px;
    width: 80px;
    margin-top:8px;
    margin-left:172px;
}
#b2{
    background-color:deeppink;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:269px;
}
#b3{
    background-color:lime;
    height: 100px;
    width: 80px;
    margin-top:-100px;
    margin-left:365px;
}
#b4{
    background-color:red;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:465px;
}
#b5{
    background-color:goldenrod;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:565px;
}
#b6{
    background-color:indigo;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:665px;
}
#b7{
    background-color:midnightblue;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:765px;
}
#c1{
    background-color:tomato;
    height: 100px;
    width: 80px;
    margin-top:7px;
    margin-left:92px;
}
#c2{
    background-color:rgb(112, 112, 236);
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:189px;
}
#c3{
    background-color:turquoise;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:289px;
}
#c4{
    background-color:brown;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:389px;
}
#c5{
    background-color:purple;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:489px;
}
#c6{
    background-color:springgreen;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:589px;
}
#c7{
    background-color:mediumvioletred;
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:689px;
}
#c8{
    background-color:rgb(87, 0, 0);
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:789px;
}
#c9{
    background-color:rgb(224, 21, 214);
    height: 100px;
    width: 80px;
    margin-top:-99px;
    margin-left:889px;
}
















